[user]
	email = Chris.Sargeant@sc.com
	name = Sargeant, Chris
[push]
	default = current
[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[pull]
	rebase = true
